@charset "utf-8";
/* General input */
input,textarea {
	outline:none;
}
input[type=text],input[type=password],input[type=date],input[type=datetime],input[type=time],textarea:not(.editor) {
	padding:5px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.22);
	border-radius:3px;
	border:1px solid #a0a0a0;
	-webkit-transition:all 0.1s ease-in-out;
	-moz-transition:all 0.1s ease-in-out;
	-o-transition:all 0.1s ease-in-out;
	-ms-transition:all 0.1s ease-in-out;
	transition:all 0.1s ease-in-out;
}
input[type=text]:focus,input[type=password]:focus,input[type=date]:focus,input[type=datetime]:focus,input[type=time]:focus,textarea:not(.editor):focus {
	border:1px solid #5695db;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.22),0 0 7px rgba(86,149,219,0.69);
	-webkit-transition:all 0.1s ease-in-out;
	-moz-transition:all 0.1s ease-in-out;
	-o-transition:all 0.1s ease-in-out;
	-ms-transition:all 0.1s ease-in-out;
	transition:all 0.1s ease-in-out;
}
input[type=text][disabled],input[type=password][disabled],input[type=date][disabled],input[type=datetime][disabled],input[type=time][disabled],textarea:not(.editor)[disabled] {
	background:#e8e8e8;
	border:1px solid #a0a0a0;
	cursor:not-allowed;
}
input[type=button] {
	font-family:'PT Sans',sans-serif;
}
input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly] {
	cursor:not-allowed;
}
label.disabled {
	cursor:not-allowed;
}
textarea {
	resize:none;
	min-height:27px;
}
textarea[disabled] {
	resize:none;
}
textarea.nogrow {
	resize:vertical;
}
select {
	padding: 4px 5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.22);
	border-radius: 3px;
	border: 1px solid #a0a0a0;
	-webkit-transition: all 0.1s ease-in-out;
}
/* Buttons */
a.button,.ui-button {
	text-decoration:none;
	display:inline-block;
}
button,input[type=button],input[type=submit],input[type=reset],a.button,.ui-button.ui-state-default:not(.ui-spinner-button),.ui-button.ui-state-hover:not(.ui-spinner-button),.ui-button.ui-state-active:not(.ui-spinner-button) {
	padding:5px 10px;
	border-radius:3px;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	outline:none;
}
button:hover,input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover,a.button:hover,.ui-button.ui-state-hover:not(.ui-spinner-button),button:hover:active,input[type=button]:hover:active,input[type=submit]:hover:active,input[type=reset]:hover:active,a.button:hover:active,.ui-button.ui-state-active:not(.ui-spinner-button):hover {
	cursor:pointer;
}
.ui-button .ui-button-text {
	padding:0;
	line-height:1.3;
}
.ui-button .ui-button-text {
	display:inline;
}
.button.block,input[type=button].block,input[type=reset].block,button.block {
	display:inline-block;
	margin:5px;
}
button.small,input[type=button].small,input[type=submit].small,input[type=reset].small,a.button.small,.ui-button.ui-state-default:not(.ui-spinner-button).small,.ui-button.ui-state-hover:not(.ui-spinner-button).small,.ui-button.ui-state-active:not(.ui-spinner-button).small {
	padding:2px 6px;
}
/* Button icons */
button span:not(.ui-button-text),a.button span:not(.ui-button-text),.ui-button .ui-icon {
	display:inline-block;
	float:left;
	position:relative;
	left:-5px;
	margin-right:5px;
	height:16px;
	width:16px;
	content:' ';
}
.ui-button .ui-icon {
	margin-top:0;
	margin-right:0;
	top:0;
}
.ui-button .ui-button-icon-secondary {
	float:right;
	position:relative;
	right:-5px;
	margin-right:-10px;
	margin-left:8px;
}
.ui-button .ui-icon:after {
	display:none;
}
/* Divider */
button span:not(.ui-button-text):after,a.button span:not(.ui-button-text):after {
	display:block;
	position:absolute;
	right:-5px;
	top:-5px;
	height:26px;
	width:2px;
	content:' ';
}
button span:not(.ui-button-text):before,a.button span:not(.ui-button-text):before {
	font-size:13px;
	padding-top:2px;
}
.webkit button span:not(.ui-button-text):before,.webkit a.button span:not(.ui-button-text):before {
	padding-top:3px;
}
/* Blue button */
button,input[type=button],input[type=submit],a.button,.ui-button.ui-state-default:not(.ui-spinner-button) {
	border:1px solid #17549b;
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);
	background:#5b9fea;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViOWZlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYzYyZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#5b9fea 0%,#0c62d7 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5b9fea),color-stop(100%,#0c62d7));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#5b9fea 0%,#0c62d7 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#5b9fea 0%,#0c62d7 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#5b9fea 0%,#0c62d7 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#5b9fea 0%,#0c62d7 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b9fea',endColorstr='#0c62d7',GradientType=0 );
	/* IE6-8 */
}
/* Blue button:hover */
button:hover,input[type=button]:hover,input[type=submit]:hover,a.button:hover,.ui-button.ui-state-hover:not(.ui-spinner-button) {
	background:#94c7ff;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0YzdmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNjdiZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#94c7ff 0%,#367bd9 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#94c7ff),color-stop(100%,#367bd9));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#94c7ff 0%,#367bd9 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#94c7ff 0%,#367bd9 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#94c7ff 0%,#367bd9 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#94c7ff 0%,#367bd9 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c7ff',endColorstr='#367bd9',GradientType=0 );
	/* IE6-8 */
}
/* Blue button:clicked */
button:hover:active,input[type=button]:hover:active,input[type=submit]:hover:active,a.button:hover:active,.ui-button.ui-state-hover.ui-state-active:not(.ui-spinner-button) {
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.63);
	background:#2c7eee;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjN2VlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTY0ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#2c7eee 0%,#0e64d8 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2c7eee),color-stop(100%,#0e64d8));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#2c7eee 0%,#0e64d8 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#2c7eee 0%,#0e64d8 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#2c7eee 0%,#0e64d8 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#2c7eee 0%,#0e64d8 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c7eee',endColorstr='#0e64d8',GradientType=0 );
	/* IE6-8 */
}
/* Blue flat button */
button.flat,input[type=button].flat,input[type=submit].flat,a.button.flat {
	border:1px solid #225ca8;
	box-shadow:none;
	background:#5a98e3;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVhOThlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjdhYzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#5a98e3 0%,#3f7ac6 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5a98e3),color-stop(100%,#3f7ac6));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#5a98e3 0%,#3f7ac6 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#5a98e3 0%,#3f7ac6 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#5a98e3 0%,#3f7ac6 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#5a98e3 0%,#3f7ac6 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a98e3',endColorstr='#3f7ac6',GradientType=0 );
	/* IE6-8 */

	color:#fff;
	text-shadow:0 1px #000;
}
button.flat:hover,input[type=button].flat:hover,input[type=submit].flat:hover,a.button.flat:hover {
	background:#75b3fd;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1YjNmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MzgzZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#75b3fd 0%,#4383d6 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#75b3fd),color-stop(100%,#4383d6));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#75b3fd 0%,#4383d6 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#75b3fd 0%,#4383d6 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#75b3fd 0%,#4383d6 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#75b3fd 0%,#4383d6 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#75b3fd',endColorstr='#4383d6',GradientType=0 );
	/* IE6-8 */
}
button.flat:hover:active,input[type=button].flat:hover:active,input[type=submit].flat:hover:active,a.button.flat:hover:active {
	box-shadow:inset 0 2px 3px rgba(0,0,0,0.45);
}
/* Blue button:disabled + Flat:disabled */
button:disabled,input[type=button]:disabled,input[type=submit]:disabled,a.button.disabled:not(.ui-spinner-button),button.flat:disabled,input[type=button].flat:disabled,input[type=submit].flat:disabled,a.button.flat.disabled:not(.ui-spinner-button),button:disabled:active,input[type=button]:disabled:active,input[type=submit]:disabled:active,a.button.disabled:active:not(.ui-spinner-button),button.flat:disabled:active,input[type=button].flat:disabled:active,input[type=submit].flat:disabled:active,a.button.flat.disabled:active:not(.ui-spinner-button) {
	cursor:default;
	border:1px solid #a2afbe;
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);
	background:#d4d9df;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0ZDlkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNWRkZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#d4d9df 0%,#d5dde9 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d4d9df),color-stop(100%,#d5dde9));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#d4d9df 0%,#d5dde9 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#d4d9df 0%,#d5dde9 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#d4d9df 0%,#d5dde9 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#d4d9df 0%,#d5dde9 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d9df',endColorstr='#d5dde9',GradientType=0 );
	/* IE6-8 */
	
	color:#96a3b4;
	text-shadow:0 1px 0 #fff;
}
/* Red button */
button.red,input[type=reset],input[type=button].red,a.button.red {
	border:1px solid #832727;
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);
	background:#ef6161;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmNjE2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYjJmMmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#ef6161 0%,#cb2f2f 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ef6161),color-stop(100%,#cb2f2f));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#ef6161 0%,#cb2f2f 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#ef6161 0%,#cb2f2f 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#ef6161 0%,#cb2f2f 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#ef6161 0%,#cb2f2f 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef6161',endColorstr='#cb2f2f',GradientType=0 );
	/* IE6-8 */
}
/* Red button:hover */
button.red:hover,input[type=reset]:hover,input[type=button].red:hover,a.button.red:hover {
	background:#f68d8d;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2OGQ4ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMDUyNTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#f68d8d 0%,#e05252 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f68d8d),color-stop(100%,#e05252));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#f68d8d 0%,#e05252 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#f68d8d 0%,#e05252 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#f68d8d 0%,#e05252 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#f68d8d 0%,#e05252 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68d8d',endColorstr='#e05252',GradientType=0 );
	/* IE6-8 */
}
/* Red button:clicked */
button.red:hover:active,input[type=reset]:hover:active,input[type=button].red:hover:active,a.button.red:hover:active {
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.63);
	background:#ef6161;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmNjE2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYjJmMmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#ef6161 0%,#cb2f2f 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ef6161),color-stop(100%,#cb2f2f));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#ef6161 0%,#cb2f2f 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#ef6161 0%,#cb2f2f 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#ef6161 0%,#cb2f2f 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#ef6161 0%,#cb2f2f 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef6161',endColorstr='#cb2f2f',GradientType=0 );
	/* IE6-8 */
}
/* Red flat buttons */
button.red.flat,input[type=button].red.flat,input[type=submit].red.flat,a.button.red.flat {
	border:1px solid #5c2828;
	background:#d17070;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QxNzA3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NTNkM2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#d17070 0%,#953d3d 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d17070),color-stop(100%,#953d3d));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#d17070 0%,#953d3d 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#d17070 0%,#953d3d 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#d17070 0%,#953d3d 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#d17070 0%,#953d3d 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d17070',endColorstr='#953d3d',GradientType=0 );
	/* IE6-8 */
}
button.red.flat:hover,input[type=button].red.flat:hover,input[type=submit].red.flat:hover,a.button.red.flat:hover {
	background:#ec7f7f;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjN2Y3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMTQ1NDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#ec7f7f 0%,#a14545 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ec7f7f),color-stop(100%,#a14545));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#ec7f7f 0%,#a14545 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#ec7f7f 0%,#a14545 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#ec7f7f 0%,#a14545 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#ec7f7f 0%,#a14545 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec7f7f',endColorstr='#a14545',GradientType=0 );
	/* IE6-8 */
}
button.red.flat:hover:active,input[type=button].red.flat:hover:active,input[type=submit].red.flat:hover:active,a.button.red.flat:hover:active {
	box-shadow:inset 0 2px 3px rgba(0,0,0,0.45);
}
/* Red button:disabled + Red Flat:disabled */
button.red:disabled,input[type=reset]:disabled,input[type=button].red:disabled,a.button.red.disabled,button.flat.red:disabled,input[type=reset].flat:disabled,input[type=button].flat.red:disabled,a.button.flat.red.disabled,button.red:disabled:active,input[type=reset]:disabled:active,input[type=button].red:disabled:active,a.button.red.disabled:active,button.flat.red:disabled:active,input[type=reset].flat:disabled:active,input[type=button].flat.red:disabled:active,a.button.flat.red.disabled:active {
	cursor:default;
	border:1px solid #c3abab;
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);
	background:#e0c9c9;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwYzljOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2UzY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#e0c9c9 0%,#e3cccc 99%,#e3cccc 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e0c9c9),color-stop(99%,#e3cccc),color-stop(100%,#e3cccc));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#e0c9c9 0%,#e3cccc 99%,#e3cccc 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#e0c9c9 0%,#e3cccc 99%,#e3cccc 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#e0c9c9 0%,#e3cccc 99%,#e3cccc 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#e0c9c9 0%,#e3cccc 99%,#e3cccc 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0c9c9',endColorstr='#e3cccc',GradientType=0 );
	/* IE6-8 */

	color:#927878;
	text-shadow:0 1px 0 #fff;
}
/* Grey button */
button.grey,input[type=button].grey,input[type=submit].grey,input[type=reset].grey,a.button.grey {
	border:1px solid #b0b0b0;
	background:#f8f8f8;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#f8f8f8 0%,#e8e8e8 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#e8e8e8));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#f8f8f8 0%,#e8e8e8 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#f8f8f8 0%,#e8e8e8 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#f8f8f8 0%,#e8e8e8 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#f8f8f8 0%,#e8e8e8 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8',endColorstr='#e8e8e8',GradientType=0 );
	/* IE6-8 */

	color:#3a3a3a;
	text-shadow:0 1px 0 rgba(255,255,255,1);
}
/* Grey button:hover */
button.grey:hover,input[type=button].grey:hover,input[type=submit].grey:hover,input[type=reset].grey:hover,a.button.grey:hover {
	background:#ffffff;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#ffffff 0%,#fafafa 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#fafafa));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#ffffff 0%,#fafafa 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#ffffff 0%,#fafafa 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#ffffff 0%,#fafafa 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#ffffff 0%,#fafafa 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#fafafa',GradientType=0 );
	/* IE6-8 */
}
/* Grey button:clicked */
button.grey:hover:active,input[type=button].grey:hover:active,input[type=submit].grey:hover:active,input[type=reset].grey:hover:active,a.button.grey:hover:active {
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.63);
	background:#f8f8f8;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#f8f8f8 0%,#e8e8e8 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#e8e8e8));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#f8f8f8 0%,#e8e8e8 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#f8f8f8 0%,#e8e8e8 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#f8f8f8 0%,#e8e8e8 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#f8f8f8 0%,#e8e8e8 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8',endColorstr='#e8e8e8',GradientType=0 );
	/* IE6-8 */
}
/* Grey flat buttons */
button.grey.flat,input[type=button].grey.flat,input[type=submit].grey.flat,input[type=reset].grey.flat,a.button.grey.flat {
	border:1px solid #979dad;
	background:#d5d9e2;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZDllMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYWMxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#d5d9e2 0%,#bac1d1 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d5d9e2),color-stop(100%,#bac1d1));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#d5d9e2 0%,#bac1d1 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#d5d9e2 0%,#bac1d1 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#d5d9e2 0%,#bac1d1 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#d5d9e2 0%,#bac1d1 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d9e2',endColorstr='#bac1d1',GradientType=0 );
	/* IE6-8 */

	color:#2c4b67;
	text-shadow:0 1px 0 #fff;
}
button.grey.flat:hover,input[type=button].grey.flat:hover,input[type=submit].grey.flat:hover,input[type=reset].grey.flat:hover,a.button.grey.flat:hover {
	background:#e6ebf8;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZWJmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMGM4ZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#e6ebf8 0%,#c0c8db 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e6ebf8),color-stop(100%,#c0c8db));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#e6ebf8 0%,#c0c8db 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#e6ebf8 0%,#c0c8db 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#e6ebf8 0%,#c0c8db 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#e6ebf8 0%,#c0c8db 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ebf8',endColorstr='#c0c8db',GradientType=0 );
	/* IE6-8 */
}
button.grey.flat:hover:active,input[type=button].grey.flat:hover:active,input[type=submit].grey.flat:hover,input[type=reset].grey.flat:hover,a.button.grey.flat:hover:active {
	box-shadow:inset 0 2px 3px rgba(0,0,0,0.45);
}
/* Grey button:disabled */
button.grey:disabled,input[type=button].grey:disabled,input[type=submit].grey:disabled,input[type=reset].grey:disabled,a.button.grey.disabled,button.flat.grey:disabled,input[type=button].flat.grey:disabled,input[type=submit].flat.grey:disabled,input[type=reset].flat.grey:disabled,a.button.flat.grey.disabled,button.grey:disabled:active,input[type=button].grey:disabled:active,input[type=submit].grey:disabled:active,input[type=reset].grey:disabled:active,a.button.grey.disabled:active,button.flat.grey:disabled:active,input[type=button].flat.grey:disabled:active,input[type=submit].flat.grey:disabled:active,input[type=reset].flat.grey:disabled:active,a.button.flat.grey.disabled:active {
	cursor:default;
	border:1px solid #b0b0b0;
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);
	background:#d5d5d5;
	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZDVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWRhZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#d5d5d5 0%,#dadada 100%);
	/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d5d5d5),color-stop(100%,#dadada));
	/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#d5d5d5 0%,#dadada 100%);
	/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#d5d5d5 0%,#dadada 100%);
	/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#d5d5d5 0%,#dadada 100%);
	/* IE10+ */
	background:linear-gradient(to bottom,#d5d5d5 0%,#dadada 100%);
	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5',endColorstr='#dadada',GradientType=0 );
	/* IE6-8 */
	color:#838383;
	text-shadow:0 1px 0 #fff;
}